/* Dashboard Summary Card Khusus */
QLabel#DashboardSummary[theme="light"] {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 25px;
    font-size: 15px;
    color: #334155;
    line-height: 150%;
}

QLabel#DashboardSummary[theme="dark"] {
    background-color: #1e293b;
    border: 1px solid #334155;
    color: #e2e8f0;
    border-radius: 12px;
    padding: 25px;
    font-size: 15px;
    line-height: 150%;
}